@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sharde Style */
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}

/* bannar Styles */
.bannar-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannar-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.bannar-description {
    color: #727272;
}

.bannar-img img{
    width: 100%;
    margin-top: 20px;
}
/* Headers Section End */





/* Feture Team Section Start */

.main{
    max-width: 1440px;
    margin: 0 auto;
}

.team-container{
    display: flex;
    align-items: center;
    margin: 50px 300px ;
    gap: 30px;
    
}

.feature-team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.feature-team-text{
    padding-right: 70px;
}

.team-title .quick-list{
    
    color: #727272;
    font-weight: 500;

}

.team-title .of-our-text{
    color: #131313;
    font-weight: 700;
}

.team-title .text-feature{
    color: #FF900E ;
    font-weight: 700;
}






/* responsive Media queries */
/* Mobile Device */
@media screen and (max-width:576px) {

    header{
        padding: 20px;
    }
    nav{
        flex-direction:column;
        align-items: center;
    }
    
}


/* tablet or mediam devices */
@media screen and (min-width: 577px) and (max-width: 960px ) {
    header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    
}