@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sharde Style */
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.bannar-gray-text {
    color: #727272;
}

.team-title {
    font-size: 2.5rem;
}

body {
    margin: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}

/* bannar Styles */
.bannar-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannar-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



.bannar-img img {
    width: 100%;
    margin-top: 20px;
}

/* Headers Section End */





/* Feture Team Section Start */

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
    margin: 50px 300px;
    gap: 30px;

}

.feature-team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}



.team-title .quick-list {
    font-weight: 500;

}

.team-title .of-our-text {
    color: #131313;
    font-weight: 700;
}

.team-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}



/* Facts Section Start */

.facts-details {
    margin: 100px 1000px 100px 240px;

}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
    text-align: center;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 60px;
}

.fact-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 800;
    margin: 10px 0 10px;
}

.fact-card-container .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}


/* Sponspors Start */

.sponsor-text {
    text-align: center;

}

.spnsor-brand-img {
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}





/* responsive Media queries */
/* Mobile Device */
@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .spnsor-brand-img {
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .feature-team-img {
        grid-template-columns: 1fr;
    }

    .facts-details {
        margin: 50px 10px;

    }

    .fact-card-container {
        flex-direction: column;
        margin: 50px 10px;
        gap: 20px;
    }


}


/* tablet or mediam devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 40px;
    }

    nav,
    .team-container,
    {
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.facts-details {
    margin: 50px;

}

.fact-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    gap: 20px;
}

.spnsor-brand-img {
    margin: 5px;
    display: flex;
    gap: 5px;
}


}